<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444409846769-bliiucjk66dbvkvpme6fsq2pn2pr3vba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444409846769-bliiucjk66dbvkvpme6fsq2pn2pr3vba</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>444409846769-66d3jc4e13ths8j498j6e0gnt6fb0gr1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwlIZl4DSnf1xRwyv_tfzkgWxY3CI_SgU</string>
	<key>GCM_SENDER_ID</key>
	<string>444409846769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitpulseapp</string>
	<key>PROJECT_ID</key>
	<string>fitpulse-586c0</string>
	<key>STORAGE_BUCKET</key>
	<string>fitpulse-586c0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444409846769:ios:66fe8f3ad4cc8bb2088250</string>
</dict>
</plist>